<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">RESTful Blog App</div>
    <div class="ui top  attached segment">
        <div class="ui divided items">

        </div>
    </div>
</div>

<% include ./partials/footer %>

